{% load static %}
<footer class="bg-white shadow-lg pt-3 mt-auto">
  <div class="container">
    <div class="col-md-4 offset-md-4 text-center">
      <!-- Facebook -->
      <a class="btn btn-outline-success btn-floating m-1" href="https://web.facebook.com/" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-success btn-floating m-1" href="https://twitter.com/" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-success btn-floating m-1" href="https://linkedin.com/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-success btn-floating m-1" href="https://instagram.com/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
    <p class="text-center text-white text-black py-3 mb-0">Copyright &copy; <span class="text-success">JZ</span> RealEstate 2021</p>
  </div>
</footer>
