{% load static %}

<nav class="navbar navbar-expand-sm bg-light shadow-lg py-3 mb-3">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

        <div>
            <ul class="navbar-nav">
                <li class="nav-item py-1">
                    <a class="h5 mx-3 text-dark nav-hover text-nowrap" href="{% url 'home' %}"><span class="text-success">JZ</span> RealEstate</a>
                </li>
                <li class="nav-item py-1">
                    <a class="h5 mx-3 text-dark nav-hover" href="{% url 'listings' %}">Oglasi</a>
                </li>
                <li class="nav-item py-1">
                    <a class="h5 mx-3 text-dark nav-hover" href="{% url 'news' %}">Novosti</a>
                </li>
                <li class="nav-item py-1">
                    <a class="h5 mx-3 text-dark nav-hover text-nowrap" href="{% url 'about' %}">O nama</a>
                </li>
            </ul>
        </div>

        <div>
        {% if user.is_authenticated %}
        <div class="dropdown">
            <a
                class="h5 mx-3 text-dark nav-hover dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
            >
                {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink"
            > 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-dark" href="{% url 'user-profile' %}"
                >Moj profil</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-dark" href="{% url 'account_change_password' %}"
                >Promjeni lozinku</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-dark" href="{% url 'listing-create' %}"
                >Predaj oglas</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-dark" href="{% url 'user-listings' user.username %}"
                >Moji oglasi</a>
                <div class="dropdown-divider"></div>
                
                <a class="dropdown-item text-dark" href="{% url 'account_logout' %}"
                >Odjavi se</a>
            </ul>
        </div>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item py-1">
                    <a class="h5 mx-3 text-dark nav-hover text-nowrap" href="{% url 'account_login' %}">Prijavi se</a>
                </li>
                <li class="nav-item py-1">
                    <a class="h5 mx-3 text-dark nav-hover text-nowrap" href="{% url 'account_signup' %}">Registriraj se</a>
                </li>
            </ul>
        {% endif %}
        </div>
    </div>
  </div>
</nav>
