{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | Naslovnica{% endblock title %}

{% block content %}
<main role="main">
<div class="container px-0 shadow-lg">
<div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static 'images/slide1.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'images/slide2.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'images/slide3.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselExampleIndicators"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselExampleIndicators"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container bg-white shadow-lg">
      <h1 class="display-2"><span class="text-success">JZ</span> RealEstate</h1>
      <p>Svaka nekretnina prolazi detaljnu provjeru naših agenata. Kontaktirajte nas kako bismo u našoj širokoj ponudi nekretnina zajedno pronašli nekretninu baš za vas!</p>
      <p><a class="btn btn-success btn-lg m-3" href="{% url 'listings' %}" role="button">Svi oglasi &raquo;</a></p>
    </div>
  </div>

  <div class="container bg-white shadow-lg my-3">
    <h2 class="p-3">Najnoviji oglasi</h2>
    <div class="row">
    {% for listing in latest_listings %}
        <div class="col-md-4 bg-white text-success text-center p-3">
            <div class="bg-image hover-zoom justify-content-center rounded">
                <img src="{{listing.photo_main.url}}" class="img-fluid">
            </div>
            <h5 class="pt-3">
                <a class="text-dark nav-hover" href="{{ listing.get_absolute_url }}">{{listing.title}}</a>
            </h5>
            <div class="row row-cols-2 text-start px-5">
                <h4 class="p-1 text-dark"><i class="fas fa-th-large p-3 text-success"></i> {{ listing.area }} m<sup>2</sup></h4>
                <h4 class="p-1 text-dark"><i class="fas fa-bed p-3 text-success"></i> {{ listing.bedrooms }}</h4>
                <h4 class="p-1 text-dark"><i class="fas fa-bath p-3 text-success"></i> {{ listing.bathrooms }}</h4>
                <h4 class="p-1 text-dark"><i class="fas fa-parking p-3 text-success"></i> {{ listing.car_spaces }}</h4>
            </div>
            <p class="border-top border-success h2 text-dark pt-3">
                Cijena: {{ listing.get_price_euros | intcomma}} €
            </p>
            
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="container mb-3">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 bg-white text-success text-center p-3  shadow-lg">
        <div style="height: 300px">
        <h2>Vizija</h2>
        <p>U JZ RealEstate vjerujemo da ne postoji ništa snažnije ili važnije od doma. Zato već 18 godina pomažemo ljudima da pronađu nekretninu svojih snova i uspješno prodaju svoje nekretnine. Naš stručni tim od preko 25 agenata i suradnika koristi najbolje alate i ulaže maksimalan trud za ostvarenje naše misije, etički i iskreno služiti ljudima kako bi osjetili snagu pravog doma. </p>
        </div>
        <div style="height: 120px">
            <i class="fas fa-home fa-5x p-3 text-success"></i>
        </div>
      </div>
      <div class="col-md-4 bg-success text-white text-center p-3 shadow-lg">
        <div style="height: 300px">
        <h2>Poslovanje</h2>
        <p>JZ RealEstate agencija osnovana je 2003. godine i od tada uspješno poslujemo na tržištu nekretnina, pouzdan smo partner i podrška klijentima u važnim životnim odlukama. Primarno smo agencija za promet nekretninama koja se bavi rezidencijalnim nekretninama i pripremom lokacija za građevinske projekte. Godišnje realiziramo oko 400 kupoprodaja i više od 100 najmova/zakupa.</p>
        </div>
        <div style="height: 120px">
            <i class="fas fa-euro-sign fa-5x p-3 text-white"></i>
        </div>
      </div>
      <div class="col-md-4 bg-white text-success text-center p-3 shadow-lg">
        <div style="height: 300px">
        <h2>Usluge</h2>
        <p>Sve nekretnine u našem portfelju pažljivo su odabrane i provjerene jer su zadovoljstvo i sigurnost klijenta naši prioriteti, što potvrđuju svi naši klijenti. Područje djelovanja je Zagreb, a od 2016. i kompletnu obalu. Godišnje realiziramo oko 400 kupoprodaja i više od 100 najmova/zakupa. Svakodnevno ulažemo u edukaciju svakog djelatnika, ali i svih sudionika na tržištu nekretnina kroz naš marketing. </p>
        </div>
        <div style="height: 120px">
            <i class="far fa-calendar-check fa-5x p-3 text-success"></i>
        </div>
      </div>
    </div>



  </div> <!-- /container -->

</main>
{% endblock content %}
