{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} | Novi oglas{% endblock title %}

{% block content %}

<div class="container bg-white text-dark text-center p-3 shadow-lg mb-3">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-botom mb-4">Novi oglas</legend>
                    {{ form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-block btn-outline-success" type="submit">Predaj oglas</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}